

body {
    margin: 0;
    padding: 0;
    background-color: #82d149a6;
    background-image: url(assets/images/R.jfif);
    

}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.list {
    display: flex;
    gap: 30px;

}
.list li {
    list-style: none;
    font-size: 24px;
    color: white;
    font-weight: 400;

}
.last-item-nav {
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}